<div class="row collapse">
	
    <div class="large-12 columns tiny-text footer-holder">
		<a class="footer-links" wga-click="label.footer.contactUs" target="_blank" href="{{loginUrl}}{{localeBase['url.footer.contactUs']}}" ng-cloak>{{locale['label.footer.contactUs']}}</a>
		<span class="footer-divider">|</span>
		<a class="footer-links" wga-click="label.footer.privacyPolicy" target="_blank" href="{{localeBase['url.footer.privacy']}}" ng-cloak>{{locale['label.footer.privacy']}}</a>
		<span class="footer-divider">|</span>
		<a class="footer-links" wga-click="label.footer.termsAndConditions" target="_blank" href="{{localeBase['url.footer.termsAndConditionsPath']}}" ng-cloak>{{locale['label.footer.termsAndConditions']}}</a>
		<span class="footer-divider">|</span>
		<!-- <a class="footer-links" wga-click="label.footer.disclaimer" target="_blank" ng-click="openPopup('commonActions/disclaimer.tpl.html')">{{locale['label.footer.disclaimer']}}</a>
		<span class="footer-divider">|</span> -->
		<a class="footer-links" wga-click="" target="_blank" href="{{localeBase['url.footer.triumphLearning']}}" ng-cloak>{{locale['label.footer.triumphLearning']}}</a>
		<span class="copyright" ng-cloak></span>{{locale['label.footer.copyright']}} &copy; {{copyRightLabel}}
		<span class="powered-by"><img alt="Powered by Knewton" src="assets/images/powered-by-knewton.png"></span>
	</div>
</div>
<!--
	<div class="row collapse">
		<div class="login-footer">
            <ul class="footer-menus">
                <li><a class="footer-links" target="_blank" href="{{localeBase['url.login.application']}}{{localeBase['url.footer.contactUs']}}" ng-cloak>{{locale['label.footer.contactUs']}}</a>|</li>
                <li><a class="footer-links" target="_blank" href="{{localeBase['url.login.application']}}{{localeBase['url.footer.privacy']}}" ng-cloak>{{locale['label.footer.privacy']}}</a>|</li>
                <li><a class="footer-links" target="_blank" href="{{localeBase['url.login.application']}}{{localeBase['url.footer.termsAndConditionsPath']}}" ng-cloak>{{locale['label.footer.termsAndConditions']}}</a>|</li>
                <li><a class="footer-links" target="_blank" ng-click="openPopup('commonActions/disclaimer.tpl.html')">{{locale['label.footer.disclaimer']}}</a></li>
			</ul>
            <div class="footer-copyright">
			<span>&copy; {{copyRightLabel}}</span> |
			<span>{{locale['label.footer.poweredByKnewton']}}</span>
			</div>
		</div>	
	</div> 
-->